.App {
  position: relative;
}

header {
  background: #282828;  
  color: #dadada;
  height: 8vh;
}

nav {
  width: 100vw;
  font-size: 2em;
  background: #cbcbcb;
  margin-top: 5%;
  text-align: center;
}

.num_2 section {
  position: relative;
}

.num_2 div {
  position: absolute;
  height: 60px;
  width: 60px;
  background: #8f8fa0;
  margin: 3%;
  padding: 3%;
}